@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&family=Silkscreen&display=swap');




body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Silkscreen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 85);
}

::-webkit-scrollbar-track {
  background-color: rgb(2, 16, 61);
}

.Profile_Name {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 2rem 0;
  font-family: 'roboto';
  background-image: url('https://img.freepik.com/free-photo/vestrahorn-mountains-stokksnes-iceland_335224-667.jpg?w=996&t=st=1661753683~exp=1661754283~hmac=ce18341ec72db05ed52307833c7964b161ceed1da6788f3d295dc0ba');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.profile_img {
  height: 40rem;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.about_img {
  height: 40rem;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}